
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Blog.cshtml";
}
<div class="page-title">
    <div class="container">
        <h2>@ViewData["UserName"]--主页</h2>
        <ul class="nav">
            <li><a href="/Home/Index">首页</a></li>
            <li><a href="#">博客</a></li>
        </ul>
    </div>
</div>
<div class="container pt-120 pb-90">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <!-- Post -->
            <div class="post-default">
                <div class="post-thumb">
                    <a href="blog-details.html">
                        <img src="~/assets/images/blog/small/1.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="post-data">
                    <!-- Category -->
                    <div class="cats"><a href="category-result.html">Love</a></div>
                    <!-- Title -->
                    <div class="title">
                        <h2><a href="blog-details.html">A Funny Thing That Happens In Relationships</a></h2>
                    </div>
                    <!-- Post Desc -->
                    <div class="desc">
                        <p>
                            Duis mauris augue, efficitur eu arcu sit amet, posuere dignissim neque. Aenean enim sem, pharetra et magna....
                        </p>
                    </div>
                </div>
            </div>
            <!-- End of Post -->
        </div>

        <div class="col-md-4 col-sm-6">
            <!-- Post -->
            <div class="post-default">
                <div class="post-thumb">
                    <a href="blog-details.html">
                        <img src="~/assets/images/blog/small/2.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="post-data">
                    <!-- Category -->
                    <div class="cats"><a href="category-result.html">Fashion</a></div>
                    <!-- Title -->
                    <div class="title">
                        <h2><a href="blog-details.html">The One Thing I Do When Fashion Come Over</a></h2>
                    </div>
                    <!-- Post Desc -->
                    <div class="desc">
                        <p>
                            Duis mauris augue, efficitur eu arcu sit amet, posuere dignissim neque. Aenean enim sem, pharetra et magna....
                        </p>
                    </div>
                </div>
            </div>
            <!-- End of Post -->
        </div>

        <div class="col-md-4 col-sm-6">
            <!-- Post -->
            <div class="post-default">
                <div class="post-thumb">
                    <a href="blog-details.html">
                        <img src="~/assets/images/blog/small/3.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="post-data">
                    <!-- Category -->
                    <div class="cats"><a href="category-result.html">Travel</a></div>
                    <!-- Title -->
                    <div class="title">
                        <h2><a href="blog-details.html">Summer Adventure Essentials From Backcountry</a></h2>
                    </div>
                    <!-- Post Desc -->
                    <div class="desc">
                        <p>
                            Duis mauris augue, efficitur eu arcu sit amet, posuere dignissim neque. Aenean enim sem, pharetra et magna....
                        </p>
                    </div>
                </div>
            </div>
            <!-- End of Post -->
        </div>

        <div class="col-md-4 col-sm-6">
            <!-- Post -->
            <div class="post-default">
                <div class="post-thumb">
                    <a href="blog-details.html">
                        <img src="~/assets/images/blog/small/4.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="post-data">
                    <!-- Category -->
                    <div class="cats"><a href="category-result.html">Adventure</a></div>
                    <!-- Title -->
                    <div class="title">
                        <h2><a href="blog-details.html">Top Things To Look For When Choosing A Safari Lodge</a></h2>
                    </div>
                    <!-- Post Desc -->
                    <div class="desc">
                        <p>
                            Duis mauris augue, efficitur eu arcu sit amet, posuere dignissim neque. Aenean enim sem, pharetra et magna....
                        </p>
                    </div>
                </div>
            </div>
            <!-- End of Post -->
        </div>

        <div class="col-md-4 col-sm-6">
            <!-- Post -->
            <div class="post-default">
                <div class="post-thumb">
                    <a href="blog-details.html">
                        <img src="~/assets/images/blog/small/5.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="post-data">
                    <!-- Category -->
                    <div class="cats"><a href="category-result.html">Sports</a></div>
                    <!-- Title -->
                    <div class="title">
                        <h2><a href="blog-details.html">Blaak Attack Earns Boels First 2019 Victory</a></h2>
                    </div>
                    <!-- Post Desc -->
                    <div class="desc">
                        <p>
                            Duis mauris augue, efficitur eu arcu sit amet, posuere dignissim neque. Aenean enim sem, pharetra et magna....
                        </p>
                    </div>
                </div>
            </div>
            <!-- End of Post -->
        </div>

        <div class="col-md-4 col-sm-6">
            <!-- Post -->
            <div class="post-default post-has-general-video">
                <div class="post-thumb">
                    <a href="blog-details.html">
                        <img src="~/assets/images/blog/small/6.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="post-data">
                    <!-- Category -->
                    <div class="cats"><a href="category-result.html">Food</a></div>
                    <!-- Title -->
                    <div class="title">
                        <h2><a href="blog-details.html">Five Important Facts Should Know About Recipe</a></h2>
                    </div>
                    <!-- Post Desc -->
                    <div class="desc">
                        <p>
                            Duis mauris augue, efficitur eu arcu sit amet, posuere dignissim neque. Aenean enim sem, pharetra et magna....
                        </p>
                    </div>
                </div>
            </div>
            <!-- End of Post -->
        </div>

        <div class="col-md-4 col-sm-6">
            <!-- Post -->
            <div class="post-default">
                <div class="post-thumb">
                    <a href="blog-details.html">
                        <img src="~/assets/images/blog/small/7.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="post-data">
                    <!-- Category -->
                    <div class="cats"><a href="category-result.html">Lifestyle</a></div>
                    <!-- Title -->
                    <div class="title">
                        <h2><a href="blog-details.html">Great Britain's Winter Olympics Athletes Rated And Slated</a></h2>
                    </div>
                    <!-- Post Desc -->
                    <div class="desc">
                        <p>
                            Duis mauris augue, efficitur eu arcu sit amet, posuere dignissim neque. Aenean enim sem, pharetra et magna....
                        </p>
                    </div>
                </div>
            </div>
            <!-- End of Post -->
        </div>

        <div class="col-md-4 col-sm-6">
            <!-- Post -->
            <div class="post-default post-has-general-video">
                <div class="post-thumb">
                    <a href="blog-details.html">
                        <img src="~/assets/images/blog/small/8.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="post-data">
                    <!-- Category -->
                    <div class="cats"><a href="category-result.html">Technology</a></div>
                    <!-- Title -->
                    <div class="title">
                        <h2><a href="blog-details.html">Apple Admits To Macbook And Macbook Pro</a></h2>
                    </div>
                    <!-- Post Desc -->
                    <div class="desc">
                        <p>
                            Duis mauris augue, efficitur eu arcu sit amet, posuere dignissim neque. Aenean enim sem, pharetra et magna....
                        </p>
                    </div>
                </div>
            </div>
            <!-- End of Post -->
        </div>

        <div class="col-md-4 col-sm-6">
            <!-- Post -->
            <div class="post-default">
                <div class="post-thumb">
                    <a href="blog-details.html">
                        <img src="~/assets/images/blog/small/9.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="post-data">
                    <!-- Category -->
                    <div class="cats"><a href="category-result.html">Love</a></div>
                    <!-- Title -->
                    <div class="title">
                        <h2><a href="blog-details.html">Feel The Love, And Other Things On My Mind</a></h2>
                    </div>
                    <!-- Post Desc -->
                    <div class="desc">
                        <p>
                            Duis mauris augue, efficitur eu arcu sit amet, posuere dignissim neque. Aenean enim sem, pharetra et magna....
                        </p>
                    </div>
                </div>
            </div>
            <!-- End of Post -->
        </div>
    </div>

    <!-- Post Pagination -->
    <div class="post-pagination d-flex justify-content-center">
        <span class="current">1</span>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#"><i class="fa fa-angle-right"></i></a>
    </div>
    <!-- End of Post Pagination -->
</div>

