
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Blog.cshtml";
}

<div class="newsletter-cover">
    <div class="nl-bg-ol"></div>
    <div class="container">
        <div id="container" name="container" type="text/plain">
            欢迎使用Ueditor.Core  原创来自www.luofenming.com
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/ueditor/ueditor.config.js"></script>
    <script src="~/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript">
        var ue = UE.getEditor('container', {
            initialFrameHeight: 300,
           
        });</script>
}