
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Blog.cshtml";
}
@model Bloger
<img src="/upload/bgpic/6c235bc9-95de-4a1a-a898-13c79bcb517e.jpg" />
<div id="desc_pre">@Model.Contents</div>
<div id="desc" name="desc"></div>
<script src="/assets/js/jquery-1.12.1.min.js"></script>
<script>
    $(function () {
        $("#desc").html($("#desc_pre").text());
    });
</script>  